.resources {
  margin: 0 auto;
  min-height: 350px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 217px;
}