@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 600px;
  max-height: 756px;
  z-index: 1;
  overflow: hidden;
  /* parameters for the header section */
}
