.feynman__subtitle	{
    position: relative;
    margin: 0 auto;
    margin-top: 70px;
    width: 500px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-align: center;
     z-index: 1;
  }