.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    font-weight: normal;
    color: white;
    list-style: none;
    padding-left: 10px;
    }