.footer__column-heading-icon-inst {
    display: flex;
    flex-direction: row;
    padding-right: 10px;
    width: 16px;
    line-height: 30px;
    list-style: none;
    text-decoration: none;
    color: white;
  }