.footer {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
  min-height: 350px;
  background-color: black;
  padding-top: 60px;
  padding-bottom: 40px;
  padding-right: 40px;
  font-size: 18px;
}